<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naver.ers">
    <application>
        <service
            android:name=".SenderService"
            android:exported="false"
            android:process=":ErsService" />
        <service
            android:name=".RetrieveLocalService"
            android:exported="false"
            android:process=":ErsService" />
    </application>
</manifest>
