<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naver.ers">
    <application>
        <service
            android:name=".SenderService"
            android:exported="false"
            android:process=":service" />
        <service
            android:name=".RetrieveJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":service" />
        <service
            android:name=".RetrieveLocalService"
            android:exported="false"
            android:process=":service" />
    </application>
</manifest>
