<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naver.error_reporting_sdk">
    <application>
        <service
            android:name=".sender.SenderService"
            android:exported="false"/>
        <service
            android:name=".RetrieveLocalService"
            android:exported="false"/>
    </application>
</manifest>
